id: telegram
url: http://mautrix-telegram:29317
as_token: ${MAUTRIX_AS_TOKEN}
hs_token: ${MAUTRIX_HS_TOKEN}
sender_localpart: telegrambot
rate_limited: false
namespaces:
  users:
    - exclusive: true
      regex: '@telegram_.+:${MATRIX_SERVER_NAME}'
    - exclusive: true
      regex: '@telegrambot:${MATRIX_SERVER_NAME}'
  aliases:
    - exclusive: true
      regex: '#telegram_.+:${MATRIX_SERVER_NAME}'
  rooms: []
