{
  email {$CADDY_ACME_EMAIL}
}

{$SUPERCHAT_WEB_HOST} {
  reverse_proxy {$SUPERCHAT_WEB_UPSTREAM}
}

{$SUPERCHAT_API_HOST} {
  reverse_proxy {$SUPERCHAT_API_UPSTREAM}
}

{$MATRIX_SERVER_NAME} {
  reverse_proxy synapse:8008
}
