{
  email ${CADDY_ACME_EMAIL}
}

${SUPERCHAT_WEB_HOST} {
  @metrics path /metrics
  respond @metrics 404
  reverse_proxy superchat-web:8080
}

${SUPERCHAT_API_HOST} {
  @metrics path /metrics
  respond @metrics 404
  reverse_proxy superchat-api:8080
}

${MATRIX_SERVER_NAME} {
  reverse_proxy synapse:8008
}

${TELEGRAM_BRIDGE_HOST} {
  redir / /public/ 308
  reverse_proxy mautrix-telegram:29317
}

${GRAFANA_HOST} {
  reverse_proxy grafana:3000
}
