html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.inline-form {
  margin: 0;
}

.nav-button {
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
}

.flush {
  margin-bottom: 0;
}
