app.localhost {
  @api path /api/*
  reverse_proxy @api superchat-api:8080
  reverse_proxy superchat-web:80
}

api.localhost {
  reverse_proxy superchat-api:8080
}

worker.localhost {
  reverse_proxy superchat-worker:8080
}

matrix.localhost {
  reverse_proxy synapse:8008
}

mail.localhost {
  reverse_proxy mailpit:8025
}
